# LETS GROW MORE

Data Science Internship (VIP)

**Author:** Danella Patrick 

**Title** : Exploratory Data Analysis

LOADING DATA

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('globalterrorismdb_0718dist.csv',encoding='latin1')
data.head(2)

In [ ]:
data.tail(3)

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data.columns.values

In [ ]:
data.isnull().sum()

In [ ]:
data.shape

In [ ]:
data.describe()

Renaming the columns

In [ ]:
for n in data.columns:
  print(n,end=',')

In [ ]:

data.rename(columns={'iyear':'Year','imonth':'Month','iday':"day",'gname':'Group','country_txt':'Country','region_txt':'Region','provstate':'State','city':'City','latitude':'latitude',
    'longitude':'longitude','summary':'summary','attacktype1_txt':'Attacktype','targtype1_txt':'Targettype','weaptype1_txt':'Weapon','nkill':'kill',
     'nwound':'Wound'},inplace=True)

In [ ]:
data = data[['Year','Month','day','Country','State','Region','City','latitude','longitude',"Attacktype",'kill',
               'Wound','target1','summary','Group','Targettype','Weapon','motive']]

In [ ]:
data.head(2)

In [ ]:
data.isnull().sum()

REMOVING THE NULL VALUES

In [ ]:
data['latitude']=data['latitude'].fillna(0)
data['longitude']=data['longitude'].fillna(0)
data['kill']=data['kill'].fillna(0)
data['Wound']=data['Wound'].fillna(0)

In [ ]:
data['Casualities'] = data['kill'] + data['Wound']

In [ ]:
data.isnull().sum()

In [ ]:
data.describe()

OBSERVATION
1. The data is between year 1970 to 2007
2. The maximum people killed are 1384 
3. The maximum people wounded are 8191
4. The highest casualitiy are 9574

In [ ]:
result1 = data.pivot_table(index=['State'], columns=['kill'], aggfunc='count')
print(result1)

In [ ]:
result2 = data.pivot_table(index=['Country'], columns=['kill'], aggfunc='count')
print(result2)

In [ ]:
#Attack on region

attack1 = data.Region.value_counts()[:10]
attack1

In [ ]:
pd.crosstab(data.Year, data.Region).plot(kind='area',stacked=False,figsize=(20,10))
plt.title('Terrorist Activities By Region In Each Year',fontsize=25)
plt.ylabel('Number of Attacks',fontsize=20)
plt.xlabel("Year",fontsize=20)
plt.show()

In [ ]:
#attack on country 
attack = data.Country.value_counts()[:15]
attack

In [ ]:

plt.subplots(figsize=(20,10))
sns.barplot(data['Country'].value_counts()[:10].index,data['Country'].value_counts()[:10].values,palette='crest')
plt.title('Top Countries Affected')
plt.xlabel('Countries')
plt.ylabel('Count')
plt.xticks(rotation = 50)
plt.show()

In [ ]:
#Attack on State 

attack2 = data.State.value_counts()[:10]
attack2

In [ ]:
#States 
plt.subplots(figsize=(20,10))
sns.barplot(data['State'].value_counts()[:10].index,data['State'].value_counts()[:10].values,palette='tab10')
plt.title('Top States Affected')
plt.xlabel('States')
plt.ylabel('Count')
plt.xticks(rotation = 50)
plt.show()

In [ ]:
#Attack Year Wise
attack3 = data.City.value_counts()[:10]
attack3

In [ ]:
#City
plt.subplots(figsize=(20,10))
sns.barplot(data['City'].value_counts(dropna=False)[:10].index,data['City'].value_counts()[:10].values,palette='Set2')
plt.title('Top 10 Ciities Affected')
plt.xlabel('Cities')
plt.ylabel('Count')
plt.xticks(rotation = 50)
plt.show()

In [ ]:
#Attack Year Wise
attack4 = data.Year.value_counts()[:10]
attack4

In [ ]:
# Attack by Year 
year = data['Year'].unique()
years_count = data['Year'].value_counts(dropna = False).sort_index()
plt.figure(figsize = (18,10))
sns.barplot(x = year,
           y = years_count,
           palette = "tab10")
plt.xticks(rotation = 50)
plt.xlabel('Attacking Year',fontsize=20)
plt.ylabel('Number of Attacks Each Year',fontsize=20)
plt.title('Attacks In Years',fontsize=30)
plt.show()

In [ ]:
data['Attacktype'].value_counts().plot(kind='bar',figsize=(20,10),color='salmon')
plt.xticks(rotation = 50)
plt.xlabel("Attacktype",fontsize=15)
plt.ylabel("Number of attack",fontsize=15)
plt.title("Name of attacktype",fontsize=20)
plt.show()

In [ ]:

data[['Attacktype','Wound']].groupby(["Attacktype"],axis=0).sum().plot(kind='bar',figsize=(20,10),color=['thistle'])
plt.xticks(rotation=50)
plt.title("Number of wounded  ",fontsize=20)
plt.ylabel('Number of people',fontsize=15)
plt.xlabel('Attack type',fontsize=15)
plt.show()

In [ ]:
data['Group'].value_counts().to_frame().drop('Unknown').head(10).plot(kind='bar',color='mediumpurple',figsize=(20,10))
plt.title("Top 10 terrorist group attack",fontsize=20)
plt.xlabel("terrorist group name",fontsize=15)
plt.ylabel("Attack number",fontsize=15)
plt.show()

In [ ]:
kill = data.loc[:,'kill']
print('Number of people killed by terror attack:', int(sum(kill.dropna())))

In [ ]:
df=data[['Group','Country','kill']]
df=df.groupby(['Group','Country'],axis=0).sum().sort_values('kill',ascending=False).drop('Unknown').reset_index().head(10)
df

**RESULTS** 
1. **South America Region** was highly attacked by the Terrorist that was : 
17288
2. **Peru** was the country which was highly attacked by the terrosit 
3. **Northern Ireland** was the State which was attacked by the terroist 
4. Most Attacks were done in **1992**
5. Most of the People were Killed and wounded by **Bombing/ Explosions** 
6. Most of the attacks were done by **Shining Path (SL)**
7. Number of people killed by terror attack: **191943**